# Ignore Gradle project-specific cache directory
/.gradle

# Ignore cache and build from buildSrc
/buildSrc/.gradle
/buildSrc/build

# Ignore build directory of 'app' module
/app/build

# Ignore build directories of the 'rmi-example' module and submodules
/rmi-example/client/build
/rmi-example/common/build
/rmi-example/server/build
